.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #17534f; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin-left: 40%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.profile-icon {
	    font-size: 70px;
}

.btn-create-inventory{
  float: right;
}